/*באופן כללי*/
a {
    outline: none !important;
    text-decoration: none !important;
}
*{
    padding:0;
    box-sizing:border-box;
    margin:0;
}
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
    direction: rtl;
    overflow-x:hidden;
    overflow-y:hidden;
    background-color:#f6f6f6;
}
.body-wrap {
    position: absolute;
    overflow-y: scroll;
    height:-webkit-fill-available;
    width: 100%;
}
::-webkit-scrollbar{
    width:0;
}
html {
    scroll-behavior: smooth;
}
.wrap-cener{
    width:100%;
    margin: 0 auto;
}
.inheritProp{
    width:100%;
    height:inherit;
}
.flex-culomn-center{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.flex-line-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---------------------------------*/
/*#region תפריט נפתח והמבורגר*/
.l {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.top {
  transform: translateY(-8px);
  animation-delay: 100ms;
  color:white;
}

.bottom {
    transform: translateY(8px);
    animation-delay: 250ms;
    color: white;
}

.hamburger-icon {
    position: fixed;
    right:2%;
    height: 60px;
    width: 60px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    background: rgba(255, 255, 255, 0.2);
}
.hamburger-icon:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.humburger-icon-black {
    position: fixed;
    right: 2%;
    height: 60px;
    width: 60px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    background: rgba(255, 255, 255, 0.2);
}
.icon-1.top {
  transform: rotate(45deg);
}

.icon-3.bottom {
  transform: rotate(-45deg);
}

.icon-2.middle {
    opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}
nav {
  background: black;
  position: fixed;
  direction:rtl;
  top:0;
  right: 0;
  border-left:red 2px solid;
  height: 100%;
  width: 0%;
  z-index: 20;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
.nav-logo {
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    animation-delay: 100ms;
    width: 200px;
    margin: 0 auto;
    height: 200px;
    position: relative;
    top: 100px;
    margin-right: 40px;
    margin-bottom: 20px;
    position: absolute;
    left: 25%;
}
.nav-logo.slide {
    width: 20%;
    opacity: 1;

}
.side-nav-links {
    font-family: 'Freestyle Script';
    font-size: 26px;
    color: whitesmoke;
    text-shadow: 1px 0px red;
    text-decoration: none;
    letter-spacing: 0.1px;
}
.line {
    width: 300px;
    margin: auto;
    height: 2px;
    border-radius: 1px;
    background: white;
    position: relative;
    top: 90%;
}
nav ul {
  position: absolute;
  top: 35%;
  left: 40%;
}
.li {
    cursor: pointer;
    list-style: none;
    font-size: 22px;
    line-height: 2;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
}
nav ul li {
    cursor:pointer;
    list-style: none;
    font-size: 22px;
    color: white;
    line-height: 2;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
}
.join{
    margin-top:1vh;
    color:#eb4747!important;
}
.li:hover{
    border-right:1px solid white;
}
nav.show {
  width: 20%;
  opacity: 1;
}

.follower {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay:50ms;
    z-index: 5;
    opacity: 1;
}

.follower.slide {
    width: 20%;
    opacity: 1;
}

@keyframes shotup {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.tbSearch{
    border:none;
    outline:none;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom:solid 1px white;
    background-color:black;
    width:150px;
    margin-bottom:5vh;
    color:white;
}
/*#endregion*/

/*#region תפריט עליון*/
.horizontal-nav {
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    z-index:100;
    background-color: #1d1d1d;
    width: 100%;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
}
.horizontal-nav-white {
    background-color: #ffffff;
    border-bottom:1px solid black
}
.horizontal-nav-cont-without-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.5%;
}

.buttons{
    margin-right: 10px;
}

.logo-content {
    font-size: 35px;
    color: #ffffff;
    font-family: 'Bellefair', serif;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
}
.logo-black{
    color: black;
}
.logo-content-hebrew {
    color: white;
    font-size: 20px
}
.logo-cont {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.horizontal-nav-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*כפתורי רישום וכניסה בתפריט עליון*/
.bt-log-in, .bt-register, .red-register, .bt-log-out {
    border: 1px solid black;
    border-radius: 5px;
    width: 6vw;
    margin-right: 0.5vw;
    height: 5vh;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    transition: 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    color: black;
}
.bt-log-in, .bt-log-out{
    margin-right:5vw;
}

.link-to-about-page {
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1c1c1c;
    font-size: 25px;
    transition: 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
}
.about-red {
    color: #eb4747 !important;
}
.bt-register {
    border: #eb4747 2px solid !important;
    background-color: black;
    color: #eb4747;
}
.red-register {
    color: white !important;
    border: #ae7272 1px solid !important;
    background-color: #eb4747;
}
/*#endregion*/

/*#region דף התחברות/רישום*/
.login-page-wrap, .registration-page-wrap {
}
.headLine {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    top: 120px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.glassWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 600px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.back{
    position:absolute;
    width:120%;
    right:-15%;
    top:-5%;
    z-index:-1;
}
.input {
    position:static;
    font-size: 14px;
    border: none;
    width: 350px;
    border-radius: 6px;
    padding: 6px 3px;
    margin-bottom:12px;
}
.input:hover{
    border-bottom: 1px solid black;
}
.action-button {
    padding: 3px 1px;
    color: white;
    display:inline-block;
    font-family: 'Segoe Print';
    width:175px;
    border: none;
    margin:auto;
    border-radius: 10px;
    font-size: 15px;
    background: #eb4747;
    border-bottom: 4px solid #971d1d;
    transition: 100ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
}
.action-button:hover {
    border-bottom: 3px solid #971d1d;
    transform: translateY(1px);
}
.action-button:active {
    border-bottom: 1px solid #971d1d;
    transform:translateY(2px);
}
.error{
    display:block;
    color:red;
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
}
.validatePos{
   position:absolute;
   top:450px;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
 
}
.innerValidator{
    text-align:center;
    margin:auto;
    font-size:15px;
    color:red;
}
/*#endregion*/

/*#region אודות*/

.rect-vertical-1, .rect-vertical-2 {
    position: absolute;
    height: 110vh;
    width: 40vw;
    transform: rotate(-9deg);
}

.about-content-wrap {
    position: absolute;
    top: 30vh;
    right: 5vw;
    width: 50vw;
}
.about-head{
    color:red!important;
}
.head {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: white;
    text-shadow: 2px 1px 1px #121212 !important;
    font-size: 40px !important;
}

.content {
    font-size: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

/*#endregion */

/*#region דף גריד משתמשים*/
.grid{
}
.grid-wrap {
}

/*#endregion*/

/*#region דף חדשות*/
.category-head-line-demarc{
    width:100%;
    position:relative;
    height:35px;
    margin-bottom:5px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.category-head-line-link{
    color:black;
    text-decoration:none;
    cursor:pointer;
}
.single-category-demarc {
    color: red;
    font-size: 16px;
    font-family: 'Guttman Hatzvi';
    margin: 0 20px;
}
.try {
    position: absolute;
    bottom: 1px;
    width: 100%;
    transition: 550ms ease-in-out;
    height: 0;
    z-index: 2;
    background-image: linear-gradient(0deg, #000, transparent);
}
.main-headLine {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    background-color:transparent;
    text-align: center;
    font-size: 28px;
    height: 12%;
    width: 100%;
    z-index: 5;
    position: absolute;
    bottom: 0;
}
.first-single-news:hover .try {
    height: 100%;
}
.first-single-news:hover .main-headLine {
    display: block;
}

.first-news-block {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.first-single-news {
    width: 50%;
    position: relative;
    height: inherit;
    overflow: hidden;
}
.big-picture-news{
    width:100%;
    height:inherit;
    background-color:red;
}
.trio-news {
    width: 35%;
    padding-right: 14px;
    height: 103.45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.single-top-news-small {
    width: 100%;
    position: relative;
    height: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    transition:ease-in-out 0.1s;
}
.img-minor-wrap {
    width: 40%;
    position: relative;
    height: 90%;
}
.img-full {
    
    width: 100%;
    height: 100%;
    position: relative;
}
.info-wrap {
    padding-right: 10px;
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.single-top-news-small:hover {
    background-color:#e1e1e1;
}
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 35%;
    width: 100%;
}
.single-top-news-headLine {
    font-size: 18px;
    font-family:'Guttman Haim';
    width: 80%;
    letter-spacing:0.3px;
}
.category {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    width: 20%;
    color:#971d1d;
    font-weight:bolder;
}
.single-top-news-secTitle {
    width: 100%;
    height: 35%;
    font-size: 14px;
    text-align: right;
    word-break: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.single-top-news-bottomLine {
    height: 30%;
    width: 100%;
    text-align: right;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.bt-add-to-favorits{
    font-size:20px;
    background:none;
    cursor:pointer;
    border:none;
    transition:ease-in 0.3s;
}
.bt-add-to-favorits:hover {
    font-size:24px;
    color:red;
}

.tease-wrap{
    height: 100%;
    width: 15%;
    position: relative;
    background-color:#ff3333;
    margin-right:15px;
}

/*#region חלק 2-שורת חדשות*/
.second-block-news-wrap{
    display:flex;
    flex-direction:column;
    position:relative;
    height:auto;
    width:96%;
    top:30px;
    margin-right:2%;
    margin-bottom:200px;
}
.news-line-wrap {
    position: relative;
    flex-direction: column;
    height: 370px;
    width: 100%;
    margin-bottom:10px;
}
.category-head {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: solid 2px red;
}
.news-in-category {
    position: relative;
    width: 100%;
    height: 90%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.more-category-link {
    position: relative;
    width: 30%;
    height:100%;
    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align:center;
    transition:ease-in-out 0.3s;
}
.more-category-link:hover{
    color:white;
    background-color:#fc3d3d;
}
.more-category-link:hover .category-link-design {
    color: white;  
}
.category-head-name {
    position: relative;
    width: 70%;
    bottom: 0%;
    text-align:right;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #ff3131;
}
.category-link-design {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
.single-horizontal-news{
    position:relative;
    width:23.7%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.single-news-img-medium-wrap{
    height:60%;
    width:100%;
    position:relative;
}
.single-news-img-medium{
    width:100%;
    height: 100%;
    border-radius:3px;
    cursor:pointer;
}
.single-news-headLine {
    height: 16%;
    width: 100%;
    text-align:center;
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:5px;
    margin-bottom:5px;
}
.single-news-more-info {
    height: 20%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.single-news-category {
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    color: #971d1d;
    font-weight: bolder;
}
/*#endregion*/
/*#endregion*/

/*#region דף חדשה יחידה*/
.page-wrap {
    position: relative;
    margin: auto;
    top:5%;
    width: 100%;
    height:160vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 100px;
}
.single-news-wrap {
    position: relative;
    width: 68%;
    height: 100%;
    margin-right:5%;
}

.news-head-wrap{
    position:relative;
    width:100%;
    height:23%;
}
.news-text-wrap {
    position: relative;
    width: 100%;
    height:50%;
    top:2%;
}
.img-wrap{
    width:55%;
    height:100%;
    position:relative;
}
.single-news-img {
    width: 100%;
    height: 100%;
}
.single-news-headers-wrap {
    width: 45%;
    height: 100%;
}
.single-news-head-line {
    width: 100%;
    height: 35%;
    text-align: right;
    font-size: 45px;
    font-weight: 500;
    font-family: 'Gill Sans Nova';
}
.single-news-sec-title {
    position:relative;
    top:10%;
    width: 100%;
    height: 65%;
    text-align: right;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.more-info-wrap{
    position:relative;
    width:100%;
    height:5%;
    margin-top:1%;
    border-top:2px solid red;
    border-bottom:2px solid red;
    justify-content:space-between!important;

}
.news-info {
    position: relative;
    width: 100%;
    width: 68%;
   
}
.user-news-interaction {
    position: relative;
    width: 100%;
    width: 28%;
    font-size: 20px;
    border-right: 1px solid #ff3636;
}
.news-authers{
    width:40%;
    text-align:right;
    font-size:20px;
}
.news-date {
    width: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
}
.news-comments{
    width:30%;
    font-size:22px;
    font-family:'Segoe UI Emoji';
    color:blue;
    text-align:center!important;
}
.add-heart {
    width: 30%;
    font-size:30px;
    transition:ease-in-out 0.3s;
    text-align:center!important;
}
.add-heart:hover{
    color:red;
}
.text-design {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    word-spacing: 0.1px;
}
.more-news-wrap {
    position: fixed;
    left:0;
    width: 25%;
    height:85vh;
    margin-bottom:15vh;
    justify-content:start!important;
}
.more-news-headLine {
    width: 90%;
    height:10%;
    text-align:center;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    -webkit-text-stroke: 1px #971d1d;
    border-bottom:solid 1px red;
}
.single-side-news-wrap {
    width: 350px;
    height: 230px;
    position: relative;
}
.scroll-me {
    overflow-y: scroll;
    position:relative;
}
.news-side-img {
    height: 180px;
    width: 350px;
}
.side-news-headLine{
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:right;
    overflow:hidden;
    transition:ease-in 0.3s;
    width:350px;
    cursor:pointer;
}
.side-news-headLine:hover{
    background-color:red;
    color:white;
}
.only-for-subs-wrap {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.only-for-subs-wrap-head{
    font-size:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#971d1d;
    text-align:center;
}
.only-for-subs-wrap-content{
    font-size:18px;
    font-family:'Segoe UI';
    text-align:center;
}
.link-to-sub-page{
    color:white;
    font-size:20px;
    text-decoration:none;
}
 .link-to-sub-page-wrap{
     padding:10px 2px;
     background-color:#eb4747;
     cursor:pointer;
 }
 /*#region comments*/
 .comments-wrap {
     width: 100%;
     position: relative;
     top: 20px;
     height: auto !important;
     padding-bottom: 50px;
 }
.comments-headLine {
    border-bottom: 1px red solid;
    text-align:right!important;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:100%;
    height:15%;
}
.create-comment-wrap{
    height:120px;
    position:relative;
    width:100%;
    margin-top:3%;
    justify-content:space-between;
    padding-bottom:30px;
}
.tbx-content-wrap{
    width:82%;
    height:60px;
}
.txb-comment {
    text-align: right;
    outline: none;
    width: 100%;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom:12px;
    border:1px thin black; 
    resize: none!important;
}
.txb-comment::placeholder{
   font-family:'Times New Roman', Times, serif;
   font-size:20px;
}
.bt-post-comment-wrap {
    height: 60px;
    width: 16.5%;
}
.bt-post-comment {
    background-color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    color:white;
    -webkit-text-stroke:1px black;
    border: none;
    border-radius: 2px;
    transition:ease 0.45s;
    cursor:pointer;
    border:1px solid black;
}
.bt-post-comment:hover {
    color: #eb4747;
    -webkit-text-stroke: 1px #eb4747;
}
/*#region תגובה בודדת*/
.comment-wrap {
    position:relative;
    width:100%;
    height:auto;
    justify-content:start!important;
    padding:18px 0;
    border-bottom:0.8px solid #971d1d;
}
.comment-head-info{
    width:100%;
    height:25px;
    justify-content:start!important;
}
.writer-name {
    padding-left:10px;
    text-align: right;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
    color:#971d1d;
}
.date-published {
    text-align: right;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:end;
}
.comment-content-wrap{
    text-align:right;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    width:100%;
    height:auto;
    margin-top:2px;
}
/*#endregion*/
/*#endregion*/
/*#endregion*/

/*#region מועדפים*/

.tb-favorites {
    position: relative;
    top: 18vh;
    margin: 0 auto !important;
}
.favorite-img{
    width:360px;
    height:210px;
}

.img-td {
    width: 360px;
    text-align: center;
    height: 210px;
}
.news-head{
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
.empty-favorites-message{
    margin:0 auto;
    position:relative;
    font-size:35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    top:10vh;
}
.search-bar{
    width:100%;
    height:20vh;
    position:relative;
    border-bottom:#971d1d 1px solid;
    background-color:#222222;
    box-shadow: 0 0 50px #444;
}
.search-single-bar{
    justify-content:space-between;
    height:40%;
    width:45%;
}
.txb-headLine-search{
    font-size:20px;
    border:none;
    background-color:transparent;
    border-bottom:1.5px solid #eb4747;
    outline:none;
    color:white;
}
.bt-send-search{
    width:80px;
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:3px;
    border:none;
    padding:2px;
    border: 1.5px solid #971d1d;
    transition:0.4s ease-in;
    cursor:pointer;
}
.bt-send-search:hover{
    background-color:#971d1d;
    color:white;
}
.rb-sort {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding:0 8px;
    outline:none;
}
.ddl-sort{
    border-right:2px;
    font-size:16px;
    font-family:'Segoe UI';
    border:none;
    border-right:3px solid red;
}
.ddl-sort-dir{
    padding:0 18px;
}
.reset-bt {
    color: #b71b1b;
    font-family: 'Segoe UI Emoji';
    font-size: 30px;
    padding:0px !important;
    transition: 0.25s ease-in-out;
    cursor:pointer;
    border:none;
    background-color:transparent;
}
.reset-bt:hover {
    transform: translateY(4.6px)  rotate(-150deg);
}
.reset-bt-all {
    position: relative;
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: white;
    cursor:pointer;
    display:inline-block!important;
    transition:0.25s ease-in;
}
.reset-bt-all:hover{
    color:#971d1d;
}
/*#endregion*/

/*#region דף הצלחת קנייה*/
    .success-body {
        background-color: cadetblue;
    }
.succsess-msg-wrap {
    position: relative;
    top: 200px;
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: #8dbbff;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-evenly;
}
.success-msg{
    font-size:35px;
    color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.transfer-success{
    font-size:20px;
    color:darkslateblue;
}
.tb-payment-info{
    font-size:16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*#endregion*/

/*#region דף הוספת חדשה*/
.editor-wrap {
    position: relative;
    width: 34%;
    height: 93.5%;
    border: 2px black solid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y:scroll!important;
}
.page-head-line{
    position:relative;
    font-size:35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-shadow: 1px 2px 2px black;
    margin:auto 0;
    background-image: linear-gradient(90deg, #f87f7f, red);
    height:5%;
    width:100%;
    text-align:center;
}
.special-wrap-news {
    margin: 0 auto;
}
.head-topics-edit, .content-wrap, .more-info-to-add {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
.more-info-to-add {
    position: relative;
    height: 10% !important;
}
.content-wrap {
    position: relative;
    height: 30% !important;
}
.content-box{
    width:90%;
    height:100%;
    border:groove 2px black;
}
.head-text {
    font-size:18px;
    border:none;
    border-bottom: 1.5px solid #971d1d;
    width: 100%;
    height: 100%;
}
.ddl-categories {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 16px;
}
.file-img{
    width:100%;
    font-family:'Segoe UI';
    font-size:16px;
}
.bt-send-wrap{
    position:relative;
    width:100%;
    height: 5% !important;
}
.bt-send{
    width:100%;
    height:100%;
    font-size:18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition:ease-in 0.2s;
}
.bt-send:hover{
   background-color:#9a3e3e;
   color:white;
}
/*#endregion*/

/*#region דף חדשות בקטגוריה*/
.category-header {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    color: #eb4747;
    width: 90%;
    padding: 10px 0;
    border-bottom: 2px solid #971d1d;
    margin: 0 auto;
    margin-bottom:25px;
    position: relative; 
    top: 20px;
}
.single-news-in-one-category {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 0;
    height: 220px;
    margin-right: 30px;
}
.single-news-in-one-category-img{
    width:340px;
    height:190px;
}
.single-news-in-one-category-info{
    position:relative;
    display:flex;
    flex-direction:column;
    height:100%;
    width:55%;
    justify-content:center;
    align-content:center;
}
.single-news-in-one-category-headLine {
    font-size: 36px;
    font-family:Calibri;
    text-align: right;
    height:30%;
    color:#971d1d;
}
.single-news-in-one-category-content{
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:right;
    height:50%;
}
.single-news-in-one-category-more-info {
    height:20%;
    text-align:left;
}
.date-of-news{
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
}
/*#endregion*/