<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="creditServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="creditServiceSoap1" />
                <binding name="BasicHttpBinding_IHuman" />
                <binding name="BasicHttpBinding_IUserNewsInteraction" />
                <binding name="BasicHttpBinding_INews" />
                <binding name="BasicHttpBinding_IAuth" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44394/creditService.asmx"
                binding="basicHttpBinding" bindingConfiguration="creditServiceSoap"
                contract="creditService.creditServiceSoap" name="creditServiceSoap" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/HumanService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHuman"
                contract="HumanService.IHuman" name="BasicHttpBinding_IHuman" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/UserNewsInteractionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserNewsInteraction"
                contract="UserNewsInteractionService.IUserNewsInteraction"
                name="BasicHttpBinding_IUserNewsInteraction" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/NewsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INews"
                contract="NewsService.INews" name="BasicHttpBinding_INews" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfTheResearch/AuthService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuth"
                contract="AuthService.IAuth" name="BasicHttpBinding_IAuth" />
        </client>
    </system.serviceModel>
</configuration>